<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.36.0/mapbox-gl.css' rel='stylesheet' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Buddy Herkenham</a>
                <a href="https://www.facebook.com/buddy.herkenham" class="fa fa-facebook"></a>
                <a href="https://twitter.com/bherkenham" class="fa fa-twitter"></a>
                <a href="https://www.linkedin.com/in/herkenhr/" class="fa fa-linkedin"></a>
                <a href="https://www.linkedin.com/in/herkenhr/" class="fa fa-github"></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-main">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#work">Work</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#running">Running</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- First section: That cute face -->
    <div id="home-backdrop" class="outer-anchor-div container-fluid">
        <div class="img-cell"></div>
        <a id="home" class="section-anchor"></a>
        <div class="text-vcenter home-container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="images/fitbit.png" class="home-img center-block"/>
                    <a href="#work" class="btn btn-default btn-lg center-block fwb">Work</a>
                </div>
                <div class="col-sm-4">
                    <img src="images/blockm.png" class="home-img center-block"/>
                    <a href="#education" class="btn btn-default btn-lg center-block fwb">Education</a>
                </div>
                <div class="col-sm-4">
                    <img src="images/running.png" class="home-img center-block"/>
                    <a href="#running" class="btn btn-default btn-lg center-block fwb">Running</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Second section: work -->
    <div class="pad-section outer-anchor-div work container-fluid">
        <a id="work" class="section-anchor"></a>
        <div class="container">
            <div class="row">
                <h1 class="text-center row-title">My Work</h1>
            </div>
            <div class="row set-table-row">
                <div class="col-sm-6">
                    <img src="images/watch.png" class="img-responsive" alt=""/>
                </div>
                <div class="col-sm-6 text-center">
                    <p class="about-text">
                        I am currently a member of the firmware team at Fitbit in San Francisco, after interning a the boston office in the summer of 2016.
                        Products I have worked on include the Fitbit Blaze (and some to be announced soon).
                    </p>
                </div>
            </div>
            <div class="row multirow work-multirow">
                <div class="col-sm-12 text-center">
                    <a href="/work" class="btn btn-default btn-lg work-btn">More work</a>
                    <a href="/work" class="btn btn-default btn-lg work-btn">Resume</a>
                    <a href="/work" class="btn btn-default btn-lg work-btn">Projects</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Third section: Education stuff -->
    <div class="pad-section outer-anchor-div education container-fluid">
        <a id="education" class="section-anchor"></a>
        <div class="container">
            <div class="row">
                    <h1 class="text-center row-title">Education</h1>
            </div>
            <div class="row set-table-row">
                <div class="col-sm-1 col-sm-offset-3">
                    <img src="images/blockmt.png" class="img-responsive"/>
                </div>
                <div class="col-sm-7 text-center ed-text">
                    <p class="ed-text">MSE Electrical Engineering:  I graduated from University of Michgian in 2017 with a Masters degree in Electrical Engineering with a focus in controls</p>
                </div>
            </div>
            <div class="row multirow set-table-row">
                <div class="col-sm-1 col-sm-offset-3">
                    <img src="images/blockmt.png" class="img-responsive"/>
                </div>
                <div class="col-sm-7 text-center ed-text">
                    <p class="ed-text">BSE Electrical Engineering:  I acheived my Bachelors degree from University of Michgian between 2012-2016</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Fourth Section: Running - oh thats the good stuff -->
    <div class="pad-section outer-anchor-div running container-fluid">
        <div class="container">
            <div class="row">
                <h1 class="text-center row-title">Running</h1>
            </div>
            <a id="running" class="section-anchor"></a>
            <div class="text-vcenter row" id="running-container">
            </div>
        </div>
    </div>

    <!-- Fifth Section: Contact me -->
    <div class="pad-section outer-anchor-div contact container-fluid">
        <div class="container">
            <a id="contact" class="section-anchor"></a>
            <div class="text-vcenter text-center">
                <p>herkenhr@umich.edu</p>
                <p>(248) 393-6068</p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/bundled-index.js"></script>
</body>
