@keyframes fadeOut {
    from {
        -webkit-filter: grayscale(0);
        opacity: 1;
    }
    to {
        -webkit-filter: grayscale(.8);
        opacity: .5;
    }
}

html {
    margin: 0px;
}

@keyframes fadeIn {
    from {  opacity:0; }
    to   { opacity: 1; }
}

body {
    position: relative;
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

/* Social Media Styling */
.fa {
    margin-top: 8px;
    padding-top:8px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
    color: white;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-linkedin {
    background: #0077B5;
    color: white;
}
.fa.fa-github {
    font-size:30px;
    padding-top:0px;
    color: black;
}
.fa-github:hover {
    color:black;
}

.row-title {
    font-size: 50px;
    margin-bottom: 40px;
}

.multirow {
    padding-top: 20px;
}

@media only screen and (min-width : 768px) {
    .set-table-row {
        display: table;
    }
    .set-table-row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }

    .set-table-row .text-center {
        vertical-align: middle;
    }
}

#home-backdrop {
    height: 800px;
}

.img-cell {
    height: 800px;
    width: 100%;
    background-image: url("../images/buddy-cover.png");
    background-size: cover, cover;
    background-repeat: no-repeat;
    background-position: center, center;
    animation: fadeOut 2s 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.home-container {
    position:absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 1200px;
    transform: translate(-50%, -50%);
    padding-left:20px;
    padding-right: 20px;
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 1s;
}

.outer-anchor-div {
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    min-height: 100px;
}

.pad-section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.section-anchor {
    position: absolute;
    top: -50px;
}

.home-img {
    width:100%;
    height:100%;
    max-width:300px;
    max-height:300px;
    margin-bottom: 20px;
    border-radius: 150px;
}

.fwb {
    max-width: 140px;
    text-align: center;
}

.work-btn {
    margin-top:10px;
    margin-left:15px;
    margin-right:15px;
    width: 200px;
}

.work {
    background-color: #ffffff;
}

.education {
    background-color: #ededed;
}

.running {
    background-color: #ffffff;
}

.contact {
    background-color: #505050;
    color: #DDDDDD;
    font-size: 14px;
}

.about-text {
    font-size: 24px;
    text-align: left;
    margin: 0px;
}

.ed-text {
    font-size: 16px;
    text-align: left;
    margin: 0px;
}


.marker-toggle {
    position: absolute;
    width: 100px;
    padding: 6px;
    right: 6px;
    top: 6px;
    z-index: 1000;

}

.marker {
    width: 18px;
    height: 18px;
    background-color: white;
    -webkit-border-radius:140px;
    -moz-border-radius:140px;
    border-radius:140px;
    text-align: center;
    line-height: 18px;
    border: 1px solid black;
}

.fitbit-map {
    position: relative;
    height: 400px;
    width:68%;
    display:inline-block;
    transition: opacity 1s,
                height 1s;
}

.fitbit-map-data {
    position: absolute;
    top:0;
    right:0;
    width:32%;
    height:404px;
    padding-top:4px;
    border-left: 1px solid gray;
    transition: opacity 1s,
                height 1s;
}

.map-data-top-wide {
    margin:0px;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid gray;
}

.display-data {
    padding-top: 26px;
    font-size: 24px;
    line-height:24px;
}

.display-label {
    padding-left:2px;
    font-size: 10px;
}

.units {
    font-size: 18px;
}

.map-data-splits {
    width: 100%;
    height: 300px;
}

@media screen and (max-width: 1010px) {
    .map-data-top-wide {
        display:none;
    }
}

@media screen and (min-width: 1011px) {
    .map-data-top-sm {
        display:none;
    }
}

.map-hidden {
    visibility: hidden;
}

/* Activity Dropdown Styling */
.activity-header {
    border: 1px solid black;
    padding: 4px;
    border-radius: 4px;
    height: 60px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
}

.activity-header:hover {
    background-color: #CCCCCC;
}

.activity-container {
    border: 1px solid gray;
    height: 406px;
    position: relative;
    -webkit-transition: height 1s; /* Safari */
    transition: height 1s;
}

.activity-container.no-tcx {
    height: 80px;
}

.fitbit-map.no-tcx {
    height: 80px;
    opacity: 0;

}

.fitbit-map-data.no-tcx {
    height: 27px;
    opacity: 0;

}

.map-data-splits.no-tcx {
    height: 57px;
    opacity: 0;
}

.no-tcx-text {
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*let map = activityContainer.find(".fitbit-map");
    let summary = activityContainer.find(".fitbit-map-data");
    let splits = activityContainer.find(".map-data-splits");*/

.act-header-flat-bot {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

@media screen and (min-width: 1200px) {
    .act-name {
        padding-left: 10px;
        height: 50px;
        max-width: 540px;
        font-size: 36px;
        line-height: 50px;
        overflow-x: hidden;
    }

    .act-date {
        font-size: 20px;
        line-height: 1em;
        padding-left: 6px;
    }
}

@media screen and (max-width: 1200px) {
    .act-name {
        padding-left: 10px;
        height: 50px;
        max-width: 300px;
        font-size: 40px;
        line-height: 50px;
        overflow-x: hidden;
    }

    .act-date {
        font-size: 16px;
        line-height: 1em;
        padding-left: 6px;
    }
}

.act {
    display: inline-block;
    overflow-x: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.act-rhs {
    position: absolute;
    right: 0;
    height: 50px;
    line-height: 25px;
    font-size: 17px;
}

.act-duration,
.act-calories {
    width: 200px;
}

.act-steps,
.act-heart {
    width: 160px;
}

.act-rhs-top {
    height: 25px;
}
.act-rhs-bot {
    height: 25px;
}

.map-data-splits {
    overflow-y: scroll;
    max-height: 300px;
    transition: opacity 1s,
                height 1s;
}

.split-header {
    display: flex;
    padding-left: 16px;
    border-bottom: 1px solid #444444;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16px;
    line-height: 27px;
    height: 30px;
}

.split-data {
    display: flex;
    padding-left: 16px;
    border-bottom: 1px solid #444444;
    padding-top: 2px;
    padding-bottom: 2px;
}

.split-data:nth-child(even) {
    background-color: #EEEEEE;
}

.split-data:hover {
    background-color: #f5e79e;
}

.marker.hovered {
    background-color: #f5e79e;
}

.split-header-text {
    flex: 1;
}

.split-data-text {
    flex: 1;
}


.split-distance {
    flex-basis: 30%;
}

.split-data-distance {
    padding-left: 8px;
}

.split-split {
    flex-basis: 35%;
}

.split-time {
    flex-basis: 35%;
}
