body {
    height: 2400px;
}

.multirow {
    padding-top: 20px;
}

#home-backdrop {
    background-color: #DDDDDD;
}

.outer-anchor-div {
    position: relative;
    padding: 40px 20px;
    min-height: 100px;
}

.section-anchor {
    position: absolute;
    top: -50px;
}

.home-img {
    height:225px;
    width: 225px;
    padding-bottom: 10px
}

.fwb {
    max-width: 225px;
}

.school {
    background-color: #ffcb05;
}

.running {
    background-color: #00274c;
}