{{#activities}}
    <div class="activity-header" data-toggle="collapse" data-target="#activity{{logId}}">
        <div class="act act-name">{{name}}</div>
        <div class="act act-date">on {{startTime}}</div>

        <div class="act-rhs">
            <div class="act-rhs-top">
                <div class="act act-duration">Duration: {{duration}}</div>
                <div class="act act-steps">Steps: {{steps}}</div>
            </div>
            <div class="act-rhs-bot">
                <div class="act act-calories">Calories: {{calories}}</div>
                <div class="act act-heart">Heart Rate: {{averageHeartRate}}</div>
            </div>
        </div>
    </div>
    <div class="collapse activity-collapse" id="activity{{logId}}" data-tcx="{{tcxLink}}" data-logId="{{logId}}">
        <div class="activity-container">
            <div id="fitbit-map-{{actNum}}" class="fitbit-map map-hidden"></div>
            <div id="fitbit-map-{{actNum}}-data" class="fitbit-map-data map-hidden">
                <div class="map-data-top-wide row">
                    <div class="col-md-4">
                        <div class="display-distance display-data"></div>
                        <div class="label-distance display-label">Distance</div>
                    </div>
                    <div class="col-md-4">
                        <div class="display-pace display-data"></div>
                        <div class="label-pace display-label">Avg. Pace</div>
                    </div>
                    <div class="col-md-4">
                        <div class="display-time display-data"></div>
                        <div class="label-time display-label">Time</div>
                    </div>
                </div>
                <div class="map-data-top-sm row">
                    <div class="col-sm-6">
                        <div class="display-distance-sm display-data-sm">100mi</div>
                        <div class="label-distance-sm display-label-sm">Distance</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="display-pace-sm display-data-sm">12:41</div>
                        <div class="label-pace-sm display-label-sm">Avg. Pace</div>
                    </div>
                </div>
                <div class="map-data-top-sm row">
                    <div class="col-sm-12">
                        <div class="display-time-sm display-data-sm">4:00:00</div>
                        <div class="label-time-sm display-label-sm">Time</div>
                    </div>
                </div>
                <div class="map-data-splits"></div>
            </div>
        </div>
    </div>
{{/activities}}

