<div class="split-header">
    <div class="split-distance split-header-text">Mile</div>
    <div class="split-split split-header-text">Split</div>
    <div class="split-time  split-header-text">Total Time</div>
</div>
{{#miles}}
    <div class="split-data">
        <div class="split-distance split-data-text split-data-distance">{{displayDistance}}</div>
        <div class="split-split split-data-text split-data-split">{{split}}</div>
        <div class="split-time split-data-text split-data-time">{{elapsedTime}}</div>
    </div>
{{/miles}}
